# systemd service for yrmcds
[Unit]
Description=memcached compatible KVS with master/slave replication.
After=network.target

[Service]
Type=simple
LimitNOFILE=100000
LimitMEMLOCK=infinity
PrivateTmp=true
ExecReload=/bin/kill -HUP $MAINPID
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o nobody -g nobody -m 0700 -d /var/tmp/yrmcds
ExecStart=/usr/sbin/yrmcdsd -f /etc/yrmcds/yrmcds.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
